<div layout="row" layout-align="center center" class="ng-scope">
    <section class="md-whiteframe-z2">
        <form class="auth-dialog">
            <md-toolbar class="login-toolbar">
                <div class="md-toolbar-tools">
                    <h2>Coins Login</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="showRegisterDialog()">
                        <md-icon class="ion-android-person-add fa-lg" aria-label="Register"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content class="md-default-theme auth-dialog-content" layout="column">
                <md-input-container class="md-icon-float">
                    <label>Name</label>
                    <md-icon class="ion-person fa-lg"></md-icon>
                    <input ng-model="auth.username" type="text">
                </md-input-container>
                <md-input-container class="md-icon-float">
                    <label>Password</label>
                    <md-icon class="ion-locked fa-lg"></md-icon>
                    <input ng-model="auth.password" type="password">
                </md-input-container>
                <div class="md-actions" layout="row">
                    <span flex></span>
                    <md-button ng-click="auth.login()">
                        Login
                        <md-icon class="ion-log-in fa-lg"></md-icon>
                    </md-button>
                </div>
            </md-content>
        </form>
    </section>
</div>

