<md-card flex-sm="100" flex-gt-sm="90" flex-gt-md="80" class="card-loading">
    <md-card-content>
        <md-list>
            <md-item>
                <md-item-content>
                    <div class="md-tile-content">
                        <div layout-gt-sm="row" layout-sm="column">
                            <div flex="50" layout="row" layout-align="start center">
                                <div style="margin: 13px; font-weight: bold" class="ellipsis"
                                     title="{{'SETTINGS_LANGUAGE'|translate}}">
                                    {{'SETTINGS_LANGUAGE'|translate}}
                                </div>
                            </div>
                            <div flex="50">
                                <md-select ng-model="settings.lang" ng-change="settings.updateLang()">
                                    <md-option ng-repeat="lang in settings.langs" value="{{lang.name}}">
                                        {{lang.title}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                    </div>
                </md-item-content>
                <md-divider></md-divider>
            </md-item>
            <md-item>
                <md-item-content>

                </md-item-content>
            </md-item>
        </md-list>
    </md-card-content>
</md-card>