.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-link {
    color: black;
}

.menu-link-icon {
    margin-left: 0;
}

.auth-dialog .auth-dialog-content {
    margin: 1em;
}

md-content.md-default-theme {
    background-color: #eee;
}

md-card {
    background-color: #fff;
}

