.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

.menu-link {
    width: calc(100% - 8px);
    margin-right: 0;
}

.menu-links .md-button.active {
    background: #C5CAE9;
}

.menu-links a.md-button.active:not([disabled]):hover {
    background: #E8EAF6;
}